.header {    
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
        display: block;
    }
    h1 {
        left: 34px;
        padding: 0;
        margin: 0;

        @media (max-width: 768px) {
            left: 18px;
        }
    }
    &__container {
        background-color: rgb(210, 31, 11);
        height: 208px;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        max-width: 1024px;
        width: 100%;
        @media (max-width: 768px) {
            display: block;
            height: 190px;
            display: block;
            justify-content: center;
        }
    }
    &__logo {
        width: 332px;
        border: 0;
        margin-top: 10px;
        margin-left: 10px;
        @media (max-width: 768px) {
            width: 176px;
            margin-left: auto auto;
        }
    }
    &__links {        
        list-style: none;
        &__item {
            font-size: 34px;
            color:#fff;
            @media (max-width: 768px) {
                font-size: 20px;
            }

        }
        &__item1 {
            font-size: 28px;
            color:#fff;
            
            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
    }
}